<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="en-us"/>
    <meta name="author" th:content="#{head.meta.author}"/>
    <title th:text="#{head.title}"></title>

    <link rel="stylesheet" th:href="@{/resources/styles/master.css}"/>
    <link rel="stylesheet" th:href="@{/resources/styles/login.css}"/>
    <link rel="stylesheet" th:href="@{/resources/styles/pushMenu.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link th:href='@{http://fonts.googleapis.com/css?family=Source+Sans+Pro}' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/resources/bower_components/bootstrap-daterangepicker/daterangepicker.css}"/>

</head>
<body>

<section id="content">
    <div id="wrapper" class="wrap">
        <div th:include="master/loggedout :: head"></div>
        <div id="view_register">
            <div class="login_pannel">
                <div class="panel panel-default" style="height:400px;width:450px;">
                    <div class="panel-body">
                        <div class="companyLogo">

                            <div class="logInRow">
                                <h3>Reset Password</h3>
                            </div>
                            <div style="padding-top:30px;" class="logInText">
                                <p>Enter your new password and its confirmation</p>
                            </div>
                        </div>
                        <div class="logmod__form">
                            <form accept-charset="utf-8" th:action="@{/web/auth/password/token}" th:object="${passwordResetRequest}" class="simform" method="post">
                            	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <div class="sminputs">
                                    <div class="input full">
                                        <label class="string optional" for="newPassword">New Password*</label>
                                        <input class="string optional" maxlength="255" id="newPassword" name="newPassword"
                                               placeholder="New Password" type="password" size="50" th:field="*{newPassword}" />
                                    </div>
                                </div>
                                <div class="sminputs">
                                    <div class="input full">
                                        <label class="string optional" for="newPasswordConfirm">New Password Confirmation*</label>
                                        <input class="string optional" maxlength="255" id="newPasswordConfirm" name="newPasswordConfirm"
                                               placeholder="New Password Confirm" type="password" size="50" th:field="*{newPasswordConfirm}" />
                                    </div>
                                </div>
                                <ul th:if="${#fields.hasErrors('*')}">
                                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                                <div th:if="${formErrors}">
                                    <p style="color:red;font-size:14px;margin-top:10px;margin-bottom:10px;text-align: center;" th:text="${formErrors}">Invalid form data.</p>
                                </div>
                                <div class="simform__actions">
                                    <button type="submit" class="btn btn-success"
                                            style="width:300px !important; height:40px !important;">Submit
                                    </button>
                                </div>
                                <div class="copyright">
                                  <!--<p style="font-size:10px;color:#888;">Copyright &copy; 2016 CAliPHR</p>-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<div th:include="master/loggedout :: foot"></div>

</body>
</html>