<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="head">
    <header class="navbar navbar-inverse navbar-static-top " role="banner" id="navBar">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a th:href="@{/}" class="navbar-brand">
                	<img th:style="#{header.companyLogoStyle}" th:src="#{header.companyLogoImage}" />
                </a>

               <!-- <h3 style="width:400px;padding-top:10px;color:white;margin-bottom:1px;margin-top:10px;">CAliPHR</h3>
                <h6 style="color:white;margin-left:65px;margin-top:2px;">CQM Aligned Population Health Reporting Tool</h6>-->

            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/web/auth/login}" style="padding-top:30px;font-style:normal !important;">Sign In</a></li>
                    <li>
                        <a th:href="@{/web/site/getting-started}" style="padding-top:30px;font-style:normal !important;">Getting Started</a>
                    </li>

                    <li>
                        <a th:href="@{/web/site/about-us}" style="padding-top:30px;font-style:normal !important;">About Us</a>
                    </li>

                </ul>
            </nav>
        </div>
    </header>
</div>

<div th:fragment="foot">
    <footer class="footer">
        <div class="container">
            <div class="contactInfo">
                <ul class="pipedFooter">
                    <li class="companyName" th:text="#{footer.companyName}"> />
                	<li class="companyName" th:text="#{footer.companyAddress}" />
                	<li class="companyName" th:text="#{footer.companyCityStateZip}" />
                	<li class="companyName" th:text="#{footer.companyTel}" />
                	<li class="companyName" th:text="#{footer.companyFax}" />
                	<li class="companyName" th:text="#{footer.companyEmail}" />
                </ul>
            </div>
        </div>
        <div class="copyright container" style="color:white; margin-top:10px !important;margin-bottom:0px !important;">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <p style="text-align:left; font-size:12px;color:#808080; font-family: 'Josefin Slab', serif;" th:utext="#{footer.copyright}"> </p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <p style="text-align:right;font-size:12px; font-family: 'Josefin Slab', serif;"><a style="color:#808080 !important; text-decoration:none !important;font-weight:normal !important;font-style:normal !important;" th:href="#{footer.website.href}" th:text="#{footer.website.text}"></a><span style="font-size:10px;color:#808080;"> Application Version:</span> <span  style="font-size:10px;color:#808080;" th:text="#{application.version}"></span></p>
                </div>
            </div>

        </div>
    </footer>
</div>
</body>
</html>